<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <link rel="stylesheet" href="css/main.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>     
        <title>Reusable Cali</title>

        <style type="text/css">
            body { background-color: #E8F8F5; } 
            .modal-header
            {
                padding:9px 15px;
                border-bottom:1px solid #eee;
                background-color: #949df7;
            }
            .modal-header .close{margin-top:2px}
            .modal-header h3{margin:0;line-height:40px}

            #logo {
                position: relative;
            }

            #div01 {
                background: #003300;
                color: white;
                margin-left: 5px;
                margin-right: 5px;
            }

            #tarjeta01 {
                margin-left: 5px;
                margin-right: 5px;
            }

            #tarjeta02 {
                margin-left: 5px;
                margin-right: 5px;
            }

            #barra01 {
                background-color: black ;
                color: white;
            }

            #footer {
                background-color: black ;
                color: white;
            }
            table {
                font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
                font-size: 12px;
                width: 480px;
                text-align: center;
                border-collapse: collapse;
                position: relative;
                margin-left: auto; 
                margin-right: auto; 
                margin-top: auto; 
                margin-bottom: auto;

            }
            
            commandButton {
                margin-left: 5px;
                margin-right: 5px;
            }

            #fil1{
                background: #043314;
                color: white;

            }
        </style> 

    </h:head>

    <h:body class="body">    
        <div class="container">

            <div id="logo" class="container">
                <img src="images/REUSABLECALI.png" width="300px" height="200px"></img>
                <h:graphicImage class="img-fluid"   value="images/letra01.png" />
            </div>
            <br/>
            <!-- barra de menu  -->
            <div id="barra01">
                <nav class="navbar navbar-expand-md bg-dark navbar-dark" >
                    <a class="navbar-brand" href="PrincipalRecolector.xhtml">Principal</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="PrincipalRecolector.xhtml">Tips de reciclaje</a>
                            </li>
                            <li class="nav-item "><h:link outcome="/Quienessomos" class="nav-link" >Nosotros</h:link></li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contactanos</a>
                            </li>    
                        </ul>
                    </div>  
                </nav>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="./index.xhtml">Inicio</a></li>
                        <li class="breadcrumb-item"><a href="./PrincipalRecolector.xhtml">Usuario Recolector</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Recolecciones</li>
                    </ol>
                </nav>
            </div> 
            <br/>
            <!-- formulario logueo  -->
            <h:form>
                <div class="row">
                    <div class="card col-md-4" id="div01">
                        <h3 class="card-title text-center"> Descripción </h3>                         
                        <textarea name="textarea" rows="5" cols="5" readonly="readonly" >Escoja CONFIRMAR para calificar positivamente al usuario. Escoja PENALIZAR para calificar negativamente al usuario.</textarea>
                    </div>
                    <div>
                        <h:form class=" m-3">
                            <h:dataTable   value="#{progranacionReci.listaUsuariosVer(usuario.id)}" var="item" class="table table-striped table-hover table-bordered table-responsive table-success">
                                <h:column>
                                    <f:facet name="header" >Cod. Programacion</f:facet>
                                    <h:outputText value="#{item.id_prog}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header" >Cod. usuario</f:facet>
                                    <h:outputText value="#{item.id_usuVer}"/>
                                </h:column>

                                <h:column>
                                    <f:facet name="header">Nombre</f:facet>
                                    <h:outputText value="#{item.usuVer}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">Fecha de recoleccion</f:facet>
                                    <h:outputText value="#{item.fecha}"/>
                                </h:column>

                                <h:column>
                                    <f:facet name="header">Acción</f:facet>
                                    <h:commandButton action="#{progranacionReci.bonificarVerde(item.id_prog, item.id_usuVer)}" class="btn btn-success" value="Confirmar"/>
                                    <h:commandButton action="#{progranacionReci.penalizarVerde(item.id_prog, item.id_usuVer)}" class="btn btn-danger ml-2" value="Penalizar"/>
                                </h:column>
                                
                            </h:dataTable>
                        </h:form>
                    </div>
                </div>
            </h:form>
        </div>   
    </h:body>

    <br/>

    <!-- footer-->
    <footer class="pt-2 footer" >    
        <div class="container-fluid text-center text-md-left">

            <div class="row mt-5">

                <div class="col-sm-6 mt-md-0 mt-3">
                    <h5 class="text-uppercase">Prisma Web Development</h5>
                   <p> Empresa desarrolladora de software radicada en Cali, Colombia </p>

                </div>


                <div class="col-sm-3">
                    <h5 class="text-uppercase">Redes sociales</h5>
                    <ul class="list-unstyled">
                        <li> <a href="https://www.facebook.com" class="alert-link"> Facebook </a></li>
                        <li> <a href="https://www.youtube.com" class="alert-link">Youtube </a></li>
                        <li> <a href="https://twitter.com/?lang=es" class="alert-link" >Twitter </a> </li>
                    </ul>    

                </div>

                <div class="col-sm-3">
                    <h5 class="text-uppercase">Datos de contacto</h5>
                    <ul class="list-unstyled"> 
                        <li> <a href="#" class="alert-link">Quienes somos</a> </li>
                        <li> <a href="#" class="alert-link">Contactos</a> </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md footer-copyright text-center py-3">
                    <p> Prisma Web Development - Copyright © 2020 </p>
                </div>
            </div>
        </div>    
    </footer>
</html>
