<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <h:head>
        
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        
        <link rel="stylesheet" href="css/main.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        
        <title>Reusable Cali</title>
    </h:head>
 
    <h:body >

        <div class="container d-flex ">          
            <div> 
                <img src="images/REUSABLECALI.png"  width="300px" height="200px"></img> 
                <h:graphicImage class="img-fluid"   value="images/letra01.png" />
            </div>
        </div>
  

        
        <!-- tab botones -->
        <div class="container">         
           
            <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between">
                <ul class="nav nav-pills" id="tabOpciones" role="tablist">
                
                    <li class="nav-item">
                        <a class="nav-link active botcolor" href="#listaUsuario" id="usuario-tab" data-toggle="pill" role="tab"
                           aria-controls="listaUsuario" aria-serlected="true" >
                            Lista de usuarios
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link botcolor" href="#registro" id="registro-tab" data-toggle="pill" role="tab" 
                            aria-controls="registro" aria-selected="false">
                            Registrar usuarios
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link botcolor" href="#lisPremios" id="premios-tab" data-toggle="pill" role="tab"
                            aria-controls="tabPremios" aria-serlected="false">
                            Lista de premios
                        </a>
                    </li>
           
                </ul>
                
                <div class="dropdown">
                    <button class="btn botcolor dropdown-toggle" type="button" id="botonDespliega" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Perfil de usuario
                    </button>
                    
                    <h:form>
                        <div class="dropdown-menu" aria-labelledby="botonDespliega">
                            <h:commandLink action="#{usuario.cerrarSesion()}" class="dropdown-item" value="Cerrar sesion"/>
                        </div>
                    </h:form>
                </div>
            </nav>
            
            <div class="tab-content" id="panelContenido">
                <div class="tab-pane fade show active" id="listaUsuario" rol="tabpanel" aria-lebelledby="usuario-tab">

                    <h:form class=" m-3">
                        <h:dataTable   value="#{adminTareas.usuarioList()}" var="u" class="table table-striped table-hover table-bordered table-responsive table-success">
                            
                            <h:column>
                                <f:facet name="header" >Id</f:facet>
                                <h:outputText value="#{u.idu}"/>
                            </h:column>
                            
                            <h:column>
                                <f:facet name="header">Nombre</f:facet>
                                <h:outputText value="#{u.nombre}"/>
                            </h:column>

                            <h:column>
                                <f:facet name="header">Apellido</f:facet>
                                <h:outputText value="#{u.apellido}"/>
                            </h:column>
                            
                            <h:column>
                                <f:facet name="header">Correo</f:facet>
                                <h:outputText value="#{u.correo}"/>
                            </h:column>
                            
                            <h:column>
                                <f:facet name="header">Tipo de Usuario</f:facet>
                                <h:outputText value="#{u.tipoU}"/>
                            </h:column>
                            
                            <h:column>
                                <f:facet name="header">Activo</f:facet>
                                <h:outputText value="#{u.estado}"/>
                            </h:column>

                            <h:column>
                                <f:facet name="header">Acción</f:facet>
                                <h:commandButton class="btn btn-danger mr-2" value="Desactivar" action="#{usuario.desactivarU(u.idu)}"/>
                                <h:commandButton class="btn btn-info" value="Activar" action="#{usuario.activarU(u.idu)}"/>
                            </h:column>

                        </h:dataTable>
                    </h:form>

                </div>
                
                <div class="tab-pane fade" id="registro" rol="tabpanel" aria-lebelledby="registro-tab">
                    
                    <div class="container">
                        <h:form class="form" >
                            <div class="row m-1">
                                <div class="card col-md-8 offset-sm-2" >
                                    <div class="card-head text-center mt-2">
                                        <h4>Registro</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-row"> 

                                            <div class="form-group col-md">
                                               <h:outputLabel for="nombre" class="control-label" >Nombre</h:outputLabel>
                                               <h:inputText id="nombre" class="form-control" value="#{usuario.name}"/>
                                            </div>
                                            <div class="form-group col-md">
                                               <h:outputLabel for="apellido" class="control-label">Apellido</h:outputLabel>
                                               <h:inputText id="apellido" class="form-control" value="#{usuario.lastname}"/>
                                            </div>      

                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md">
                                               <h:outputLabel for="direccion" class="control-label" >Direccion</h:outputLabel>
                                               <h:inputText id="direccion" class="form-control" value="#{usuario.address}"/>
                                            </div>

                                            <div class="form-group col-md">
                                               <h:outputLabel for="telefono" class="control-label" >Teléfono</h:outputLabel>
                                               <h:inputText id="telefono" class="form-control" value="#{usuario.phone}" />
                                            </div> 
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md">
                                             <h:outputLabel for="tipoid" class="control-label" >Tipo de usuario</h:outputLabel>
                                             <h:selectOneMenu styleClass="form-control form-control-lg" id="tipoid" value="#{usuario.tusu}">
                                                 <f:selectItem itemValue="1" itemLabel="verde"/>
                                                 <f:selectItem itemValue="2" itemLabel="recolector" />
                                                 <f:selectItem itemValue="3" itemLabel="Administrador" />
                                             </h:selectOneMenu>
                                            </div>

                                            <div class="form-group col-md">
                                                <h:outputLabel for="sectoid" class="control-label" >Sector</h:outputLabel>
                                                <h:selectOneMenu styleClass="form-control form-control-lg" id="sectorid" value="#{usuario.sector}">
                                                    <f:selectItem itemValue="1" itemLabel="Norte"/>
                                                    <f:selectItem itemValue="2" itemLabel="Sur" />
                                                    <f:selectItem itemValue="3" itemLabel="Oriente"/>
                                                    <f:selectItem itemValue="4" itemLabel="Occidente" />
                                                </h:selectOneMenu>
                                            </div> 
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md">
                                                <h:outputLabel for="email" class="control-label">Email</h:outputLabel>
                                                <h:inputText id="email" class="form-control" value="#{usuario.email}" />                    
                                            </div>


                                            <div class="form-group col-md-5">
                                                <h:outputLabel for="password" class="control-label">Contraseña</h:outputLabel>
                                                <h:inputSecret id="password" class="form-control" value="#{usuario.password}"/>
                                            </div>
                                        </div>

                                        <div class="mt-2 mb-2 form-row">
                                            <div class="col-md offset-sm-3">
                                                <h:commandButton action="#{usuario.registrarAdmin()}" value="Registrarse" styleClass="btn btn-success" style="width: 60%"/>
                                            </div>
                                        </div>

                                    </div>
                                </div>  

                            </div>
                        </h:form>
                    </div>
                </div>
                
                <div class="tab-pane fade show " id="lisPremios" rol="tabpanel" aria-lebelledby="premios-tab">

                    <h:form class=" m-3">
                        <h:dataTable   value="#{adminTareas.listaPremios()}" var="p" class="table table-striped table-hover table-bordered table-responsive table-success">
                            
                            <h:column>
                                <f:facet name="header" >Id premio</f:facet>
                                <h:outputText value="#{p.id_premiacion}"/>
                            </h:column>
                            
                            <h:column>
                                <f:facet name="header">Nombre</f:facet>
                                <h:outputText value="#{p.nomUsuv}"/>
                            </h:column>

                            <h:column>
                                <f:facet name="header">Premio</f:facet>
                                <h:outputText value="#{p.premio}"/>
                            </h:column>

                        </h:dataTable>
                    </h:form>

                </div>
            </div>
            
        </div>    
        
    </h:body>
    
    <br/><br/><br/>
    
    <footer class="pt-2 footer" >    
        <div class="container-fluid text-center text-md-left">
            
            <div class="row mt-5">
                
                <div class="col-sm-6 mt-md-0 mt-3">
                    <h5 class="text-uppercase">Prisma Web Development</h5>
                    <p> Empresa desarolladora de software rediacada en Cali, Colombia </p>

                </div>
                
                
                <div class="col-sm-3">
                    <h5 class="text-uppercase">Redes sociales</h5>
                    <ul class="list-unstyled">
                        <li> <a href="https://www.facebook.com" class="alert-link"> Facebook </a></li>
                        <li> <a href="https://www.youtube.com" class="alert-link">Youtube </a></li>
                        <li> <a href="https://twitter.com/?lang=es" class="alert-link" >Twitter </a> </li>
                    </ul>    
                    
                </div>
                
                <div class="col-sm-3">
                    <h5 class="text-uppercase">Datos de contacto</h5>
                    <ul class="list-unstyled"> 
                        <li> <a href="#" class="alert-link">Quienes somos</a> </li>
                        <li> <a href="#" class="alert-link">Contactos</a> </li>
                    </ul>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md footer-copyright text-center py-3">
                    <p> Prisma Web Development - Copyright © 2020 </p>
                </div>
            </div>
        </div>    
    </footer>

</html>


