<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <link rel="stylesheet" href="css/main.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous"/>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"/>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"/> 
        <title>Reusable Cali</title>

        <style type="text/css">
            body { background-color: #E8F8F5; } 
            .modal-header
            {
                padding:9px 15px;
                border-bottom:1px solid #eee;
                background-color: #949df7;
            }
            .modal-header .close{margin-top:2px}
            .modal-header h3{margin:0;line-height:40px}

            #logo {
                position: relative;
            }

            #div01 {
                background: #003300;
                color: white;
                margin-left: 5px;
                margin-right: 5px;
            }
            
            #parr {
                text-align: justify;
                color: darkgreen;
                font-weight: bold;
                               
            }
            
            #text {
                border-radius: 2px; 
                background-color: white;
            }

            #barra01 {
                background-color: black ;
                color: white;
            }

            #footer {
                background-color: black ;
                color: white;
            }
        </style> 

    </h:head>

    <h:body class="body">    
        <div class="container">

            <div id="logo" class="container">
                <img src="images/REUSABLECALI.png" width="300px" height="200px"></img>
                <h:graphicImage class="img-fluid"   value="images/letra01.png" />
            </div>
            <br/>
            <!-- barra de menu  -->
            <div id="barra01">
                <nav class="navbar navbar-expand-md bg-dark navbar-dark" >       
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="collapsibleNavbar">                       
                    </div>  
                </nav>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="./index.xhtml">Inicio</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Quienes somos</li>
                    </ol>
                </nav>
            </div> 
            <br/>
            <!-- formulario logueo  -->
            <h:form>
                <div class="row">
                    <div id="text">
                        <h2>Misión</h2>
                        <p id="parr">
                            Prisma Web Development ofrece un gran paquete de soluciones diseño, desarrollo y mantenimiento web para las pequeñas, 
                            medianas y grandes empresas a nivel mundial. Esto es posible gracias a la experiencia de nuestro equipo de trabajo, a 
                            los altos estándares de calidad de nuestros productos y a la continua actualización de nuestra tecnología.
                        </p>

                    </div>
                    <br/>
                    <br/>
                    <div id="text">
                        <h2>Visión</h2>
                        <p id="parr">
                            Obtener el reconocimiento como unas de las empresas pioneras en el desarrollo web en Colombia. Realizar trabajos que sean 
                            innovadores y que cumplan con todos los estándares en el desarrollo web a nivel mundial. Ofrecer a nuestros empleados un 
                            excelente espacio de laboral resaltando los valores de un equipo de trabajo, y de esta forma lograr un modelo ejemplo para 
                            las demás empresas de desarrollo web.
                        </p>
                    </div>
                    <br/>
                    <br/>
                    <div id="text">
                        <h2>Reseña histórica</h2>
                        <p id="parr">           
                            Prisma Web Development inicia en el año 2018 desarrollando proyectos universitarios para la facultad de Ingeniería de sistemas 
                            de la Institución Universitaria Antonio José Camacho. Sus propietarios, los ingenieros Daniela Ceron Getial, Andrés Díaz Artunduaga y Juan Manuel 
                            Valenzuela Montero cursando el 3 semestre de su profesionalización deciden implementar una página para facilitar la recolección de elementos 
                            reutilizables y de este modo aportar su granito de arena al cuidado del planeta, apoyando los objetivos 12, 13 y 15 de desarrollo 
                            sostenible de las NACIONES UNIDAS.
                        </p>
                    </div>
                </div>
            </h:form>
            <h:form>
                <h:commandButton class="btn btn-success mr-2" value="Atras" action="#{progranacionReci.evaluarTipoUsu(usuario.tusu)}"/>
            </h:form>
        </div>                
    </h:body>

    <br/>

    <!-- footer-->
    <footer class="pt-2 footer" >    
        <div class="container-fluid text-center text-md-left">

            <div class="row mt-5">

                <div class="col-sm-6 mt-md-0 mt-3">
                    <h5 class="text-uppercase">Prisma Web Development</h5>
                    <p> Empresa desarrolladora de software radicada en Cali, Colombia </p>

                </div>


                <div class="col-sm-3">
                    <h5 class="text-uppercase">Redes sociales</h5>
                    <ul class="list-unstyled">
                        <li> <a href="https://www.facebook.com" class="alert-link"> Facebook </a></li>
                        <li> <a href="https://www.youtube.com" class="alert-link">Youtube </a></li>
                        <li> <a href="https://twitter.com/?lang=es" class="alert-link" >Twitter </a> </li>
                    </ul>    

                </div>

                <div class="col-sm-3">
                    <h5 class="text-uppercase">Datos de contacto</h5>
                    <ul class="list-unstyled"> 
                        <li> <a href="#" class="alert-link">Quienes somos</a> </li>
                        <li> <a href="#" class="alert-link">Contactos</a> </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md footer-copyright text-center py-3">
                    <p> Prisma Web Development - Copyright © 2020 </p>
                </div>
            </div>
        </div>    
    </footer>
</html>
